html {
  background-color: #8a8a5c;
  }

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

a:visited {
  color: red;
  text-decoration: none;
}

figcaption {
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-family: "Poiret One", sans-serif;
  font-size: 5rem;
  padding-left: 7%;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  }

 p {
  background-color: #ededed;
  border-radius: 5px;
	font-family: 'Oswald', sans-serif;
  padding: 12px;
  letter-spacing: .9px;
}

#image {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 1024px;
}

#img-caption {
  text-align: center;
}

@media screen and (min-width: 800px) {
  p {
    margin: 1% auto;
    max-width: 75%;
  }

}